<h1>Entries Index Page</h1>

<ul class="entries-list" />
  <% @entries.each do |entry| %>
    <li>
      <a
        href=<%= entry_path(entry) %>
        id=<%= "entry-id-#{entry.id}" %>
        class="entry-item"
      >
        <%= entry.date %>
      </a>
    </li>
  <% end %>
</ul>
