<h1>Entry Show Page</h1>

<h2>Date:</h2>
<div class="goal-date"><%= @entry.date %></div>

<h2>Goals:</h2>
<ul class="goal-list">
<% @entry.goals.each do |goal| %>
  <li class="goal-summary"><%= goal.description %></li>
<% end %>
</ul>

<a href=<%= edit_entry_path(@entry)%>>Edit Entry</a>
